[filter "media"]
    clean = git media clean %f
    smudge = git media smudge %f
    required = true
[user]
    name = 
    email = 
[core]
    editor = vim
    pager = lv -c
[alias]
    co = checkout
    st = status
[color]
    ui = auto
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[credential]
    helper = osxkeychain
